{
    auto_https disable_redirects
    admin off
}
mirror.openmandriva.org:80 {
    encode zstd gzip
    handle_path /localjs/* {
        root * /srv/localjs
        file_server
    }
    @landing {
        path /
        expression {query} == ""
    }
    handle @landing {
        root * /srv/www
        rewrite * /index.html
        file_server
    }
    handle /status {
        root * /srv/www
        rewrite * /status.html
        file_server
    }
    handle /downloads {
        root * /srv/www
        rewrite * /downloads.html
        file_server
    }
    handle {
        reverse_proxy http://app:8080 {
            header_up X-Forwarded-Proto {scheme}
            transport http {
                versions 1.1
                keepalive 32s
            }
        }
    }
    log {
        output discard
    }
}
mirror.openmandriva.org:443 {
    encode zstd gzip
    handle_path /localjs/* {
        root * /srv/localjs
        file_server
    }
    @landing {
        path /
        expression {query} == ""
    }
    handle @landing {
        root * /srv/www
        rewrite * /index.html
        file_server
    }
    handle /status {
        root * /srv/www
        rewrite * /status.html
        file_server
    }
    handle /downloads {
        root * /srv/www
        rewrite * /downloads.html
        file_server
    }
    handle {
        reverse_proxy http://app:8080 {
            header_up X-Forwarded-Proto {scheme}
            transport http {
                versions 1.1
                keepalive 32s
            }
        }
    }
    log {
        output discard
    }
}
